:root {
    --radius: 15px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    background: linear-gradient(180deg, rgb(30, 30, 30) 20%, black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
}

main {
    padding: 0px 10rem;
    margin: 0px auto;
    position: sticky;
    top: 10%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 20%;
    padding: 13px;
    background: white;
    border-radius: var(--radius);
    background: linear-gradient(90deg, white 60%, rgb(185, 185, 185));
    width: fit-content;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: flex-start;
    margin: 16px 0px 8px;
}

h4 {
    margin: 8px 0px;
    color: gray;
}

.socials {
    display: inline;
    align-items: center;
}

.socials img {
    height: 24px;
    width: 24px;
}

h2 {
    color: white;
    margin: 16px 0px;
}

.about {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.about p {
    background: white;
    color: black;
    padding: 32px;
    margin: 0px;
    border-radius: var(--radius);
}

.avatar {
    height: auto;
    max-width: 50%;
    overflow: hidden;
}

.about img {
    object-fit: cover;
    border-radius: var(--radius);
    width: 100%;
    height:100%;
}

.works {
    display: flex;
    justify-content:space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.project {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 5%;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--radius);
    padding: 16px;
    border: 3px solid gray;
}

.ptitle {
    padding: 0;
}

.pimage {
    overflow: hidden;
    height: 300px;
    max-width: 100%;
}

.project img {
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
}

.pcode{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    background: black;
    border-radius: var(--radius);
    color: white;
    padding: 8px 16px;
    width: 100%;
    gap: 10px;
    font-size: 1em;
}

@media screen and (max-width: 768px){

    .avatar {
        max-width: 100%;
    }

    .about {
        flex-direction: column-reverse;
    }
}
