:root {
    --radius: 15px;
}

body {
    font-family: Helvetica;
    background: linear-gradient(135deg, rgb(52, 52, 52), black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
}

main {
    padding: 0px 10rem;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 20%;
    padding: 10px;
    background: white;
    border-radius: var(--radius);
    background: linear-gradient(90deg, white 60%, rgb(185, 185, 185));
    position: sticky;
    top: 10px;
    width: fit-content;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: flex-start;
    margin: 16px 0px 8px;
}

h4 {
    margin: 8px 0px;
    color: gray;
}

.socials {
    display: inline;
    align-items: center;
}

.socials img {
    height: 24px;
    width: 24px;
}

h2 {
    color: white;
    margin: 16px 0px;
}

.about {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.about p {
    background: white;
    color: black;
    padding: 32px;
    margin: 0px;
    border-radius: var(--radius);
}

.avatar {
    height: auto;
    max-width: 50%;
    overflow: hidden;
}

.about img {
    object-fit: cover;
    border-radius: var(--radius);
    width: 100%;
    height:100%;
}

@media screen and (max-width: 768px){

    .avatar {
        max-width: 100%;
    }

    .about {
        flex-direction: column-reverse;
    }

    .nav {
        
    }
}
